<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style media="screen">
        .my-input {
            margin: 0.3rem;
            padding: 0.5rem;
        }

        .my-error {
            font-size: 1.2em;
            border: 3px solid red;
            border-top: 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: red;
            background-color: #c4c4c4;
            padding-left: 2rem;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>


<form id="addBook">
    <div>
        <div class="row bg-dark">
            <div class="col">
                <input required type="text" class="form-control my-input" size="40" placeholder="Title" th:name="title">
            </div>
            <div class="col">
                <input required type="text" class="form-control my-input" size="40" placeholder="Isbn" th:name="isbn">
            </div>
            <div class="col">
                <input required type="text" class="form-control my-input" size="40" placeholder="Author"
                       th:name="authorName">
            </div>
            <div class="col-1">
                <button type="submit" class="btn col-11 btn-outline-success my-input">Add</button>
            </div>
        </div>

    </div>
</form>



<div class="row bg-dark">
  <div class="col-9">
    <form id="searchBook">
            <div class="row ">
                <div class="col-6">
                    <input required type="text" class="form-control my-input" size="40" placeholder="Search" name="title">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn col-12 btn-outline-success my-input">Search</button>
                </div>
            </div>
    </form>
  </div>
  <div class="col-3">
        <button id="show-all" class="btn col-11 btn-outline-primary my-input">Show all</button>
  </div>
</div>

<div id="exceptionBlock" class="my-error">

</div>

<table class="table table-bordered table-hover table-sm ">
    <thead class="thead bg-success text-light">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Isbn</th>
        <th scope="col">Author</th>
    </tr>
    </thead>
    <tbody id="booksTable">
    <tr th:each="book: ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.authorName}"></td>
    </tr>

    </tbody>
</table>
<script>
    $(function () {
        $('#addBook').submit(function (e) {
            e.preventDefault();

            let books = $('#booksTable');
            let exception = $('#exceptionBlock');

            $.ajax({
                type: 'POST',
                url: '/add',
                dataType: 'json',
                data: JSON.stringify({
                    title: $(this).find('[name=title]').val(),
                    isbn: $(this).find('[name=isbn]').val(),
                    authorName: $(this).find('[name=authorName]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (book) {
                    exception.empty();
                    books.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.authorName + '</td></tr>');
                },
                error: function (response){
                    exception.text(response.responseText);
                }
            });
        }),
        $('#searchBook').submit(function (e) {
            e.preventDefault();
            let books = $('#booksTable');
            let exception = $('#exceptionBlock');
            console.log($('#searchBook').find('[name=title]').val());
            $.ajax({
                type: 'GET',
                url: '/find-book',
                data: 'title='+$('#searchBook').find('[name=title]').val(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'text/html')
                },
                success: function (response) {
                    books.empty();
                    exception.empty();
                    response.forEach(function (book) {
                        books.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.authorName + '</td></tr>');
                    });
                }
            });
        });
        $('#show-all').click(function (e){
            let books = $('#booksTable');
            $.ajax({
                type: 'GET',
                url: '/book-list',
                success: function (response) {
                    books.empty();
                    response.forEach(function (book) {
                        books.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.authorName + '</td></tr>');
                    });
                }
            });
        });
    });
</script>
</body>
</html>
